html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: "Sarabun", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-center {
  text-align: center;
}

.bottom-container {
  background: #333;
  padding: 13px;
  border-top: 2px solid #0f0f0f;
  /* position: absolute; */
  bottom: 0;
  margin-top: 20px;
  color: white;
}

.bottom-container p {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

.main-logo {
  object-fit: contain;
  height: 100%;
  max-width: 40vw;
}

#root-and-bottom-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media print {
  .no-print {
    display: none;
  }
}
